<div class="container">
	<div class="row">
	<h3 class="all-title">注文情報入力</h3>
		<div class="col-xs-12">
			<div class="new-box">
				<h3>支払方法</h3>
				<%= form_with(model: @order, local: true, url: public_orders_confirm_path,method: :get) do |f| %>
					<%= f.radio_button :payment_method, 0, checked: true %> クレジットカード<br>
					<%= f.radio_button :payment_method, 1 %> 銀行振込

					<h3>お届け先</h3>
					<table class="to_address">
						<!-- 自身の住所 -->
						<tr>
							<td><%= f.radio_button :select,1 %>ご自身の住所</td>
							<td><%= current_customer.postal_code %> <%= current_customer.address %><br><%= current_customer.first_name %><%= current_customer.last_name %></td>
						</tr>
						<!-- 登録済み住所 -->
						<tr>
							<td><%= f.radio_button :select,2 %>登録済住所から選択</td>
							<td><%= f.collection_select(:id, current_customer.addresses.all, :id, :address)%></td><br><br>
						</tr>

						<!-- 新しいお届け先 -->
						<tr>
							<td><%= f.radio_button :select,3 %>新しいお届け先</td>
						</tr>
							<tr>
								<td> 郵便番号（ハイフンなし）</td>
								<td><%= f.text_field :postcode %></td>
							</tr>
							<tr>
								<td> 住所</td>
								<td><%= f.text_field :address%></td>
							</tr>
							<tr>
								<td> 宛名</td>
								<td><%= f.text_field :name %></td>
							</tr>
						</tr>
					</table>
					<div class="confirm">
					<%= f.submit "確認画面へ進む", class:"btn confirm-next" %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>