<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-default navbar-static-top p-10">
      <div class="container">
        <div class= "navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=link_to "NaganoCake", root_path, class:"btn navbar-brand"%>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample">
    <% if admin_signed_in? %>
    <ul class="nav navbar-nav navbar-right header-nav">
      <li><%= link_to "商品一覧", admin_items_path, class:"btn btn-default" %></li>
      <li><%= link_to '会員一覧', admin_customers_path, class:"btn btn-default" %></li>
      <a>注文履歴一覧</a>
      <li><%= link_to "ジャンル一覧", admin_genres_path, class:"btn btn-default" %></li>
      <li><%= link_to ' ログアウト', destroy_admin_session_path, class:"btn btn-default", method: :delete %></li>
    </ul>
    <% elsif customer_signed_in? %>
    <ul class="nav navbar-nav navbar-right header-nav">
      <p class="navbar-text">ようこそ<%= current_customer.first_name %>さん！</p>
      <li><%= link_to "マイページ", public_customer_path(current_customer.id), class:"btn btn-default" %></li>
      <li><%= link_to "商品一覧", public_items_path, class:"btn btn-default" %></li>
      <li><%= link_to "カート", public_cart_items_path, class: "btn btn-default" %></li>
      <li><%= link_to "ログアウト", destroy_customer_session_path, class:"btn btn-default", method: :delete %></li>
    </ul>
    <% else %>
    <ul class="nav navbar-nav navbar-right header-nav">
      <li><%= link_to "商品一覧", public_items_path, class:"btn btn-default" %></li>
      <li><%= link_to "新規登録", new_customer_registration_path, class:"btn btn-default" %></li>
      <li><%= link_to "ログイン", new_customer_session_path, class:"btn btn-default" %></li>
    </ul>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
